{
	"tabWidth": 2,
	"singleQuote": true,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"printWidth": 120,
	"overrides": [
		{
			"files": ".prettierr",
			"options": { "parser": "json" }
		}
	]
}
